
1.Hardware/OpenHeat/fp-info-cache
1.Hardware/OpenHeat/OpenHeat.bck
1.Hardware/OpenHeat/OpenHeat.csv
1.Hardware/OpenHeat/OpenHeat.kicad_pcb-bak
1.Hardware/OpenHeat/OpenHeat.sch-bak
1.Hardware/OpenHeat/OpenHeat.xml
